<%- include("partials/header") %>

    <p>Welcome to my website!</p>

    <p>This is a sample paragraph to demonstrate the structure of the HTML page. You can replace this with your own
        content or remove it altogether.</p>

    <p>Feel free to explore the different sections of the website and learn more about what we have to offer.</p>

    <p>If you have any questions or need assistance, please don't hesitate to contact us. We are here to help!</p>

<%- include("partials/footer") %>